/*Login Page*/
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.logo{
    margin: auto;
}

Table{
    background-color: #F8F9FA;
}
body{
    background-image: url(./Assets/background_login.jpg);
    background-size: cover;
}
